*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
}
.navbar{
    width:100%;
    margin: auto;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: black;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
}


h1 small{
    font-size: small;
}