* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
}
.navbar {
  width: 100%;
  margin: auto;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: black;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

h1 small {
  font-size: small;
}

.gselect {
  position: relative;
  width: 160px;
  font-family: Arial, sans-serif;
}

.dd-line {
  border: 1px solid #ccc;
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dd-button {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #333;
}

.panel {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 200;
}

.panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.panel li a {
  display: block;
  padding: 6px;
  cursor: pointer;
}

.panel li a:hover {
  background-color: #f0f0f0;
}
